#ga
  %h1 Last Week in USG...
  #video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "180", :src => "http://www.youtube.com/embed/TgMg_ZiHN8g", :width => "240"}
  %h2 November 8, 2011
  %ul#top-three
    %li 
      %a{:href=>"#"} Agenda →
    %li 
      %a{:href=>"#"} Minutes →
    %li 
      %a{:href=>"#"} Voting Record →
  %ul#bottom-two
    %li
      %a{:href=>"#"} Committees
    %li 
      %a{:href=>"#"} Caucuses

#events
  %h1 Upcoming Events
  %div.event
    %h2 New USG website!
    %p The USG website is due to launch in 2012!  Woo! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sapien sem, iaculis vel pulvinar eu, viverra id ante.
    %span.group Undergraduate Student Government
  %div.event
    %h2 Frisbee Tournament
    %p The only other thing I could think of. Nullam cursus dolor id nisi venenatis euismod. Aenean in urna neque, a commodo nunc.
    %span.group Ultimate Frisbee Club
