#ga
  #video
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "http://www.youtube.com/embed/TgMg_ZiHN8g", :width => "480"}
  %h1 USG Nov. 8
  %span.link
    %a{:href => "#"} Download minutes
  %span.link
    %a{:href => "#"} Voting results
#events
  %h1 Upcoming Events
  %p.event
    %span.title> USG Website Launch
    The USG website is due to launch in 2012!  Woo! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sapien sem, iaculis vel pulvinar eu, viverra id ante.
    %span.group Undergraduate Student Government
  %p.event
    %span.title> Frisbee Tournament
    The only other thing I could think of. Nullam cursus dolor id nisi venenatis euismod. Aenean in urna neque, a commodo nunc.
    %span.group Ultimate
