body,html {
  margin:0;
  font-size:10px;
  background-color:#F2F2F2;
}
h1 {
  font-family: 'Habibi', serif;
  font-weight:400;
  font-size:2.6em;
  margin-bottom: 10px;
}

a {
  font-style:italic;
  text-decoration:none;
  color:#0a304e;
  font-size:2.2em;
  &:hover { text-decoration:underline; }
}

header, footer {
  display: block;
  background: #23508e;
}

#container {
  width: 940px;
  margin:auto;
  overflow: hidden;
  clear:both;
}

#header, #footer {
  overflow: hidden;
  margin: 0;
  width: 100%;
}

#header, #header-small {
  height:40px;
  background-color:#0a304e;
  z-index:1;
  overflow:visible;
  box-shadow: inset 0 -3px 8px rgba(0,0,0,.25);
}
#header-small {
  #logo {
    height:150px;
  
  }
}

#navigation {
  display: inline;
  float: right;
  text-align: right;

  ul { 
    list-style:none; 
    margin-right:10px;
    li { 
      float:right; 
      a {
        color: #f2f2f2;
        text-decoration: none;
        font-size:1.6em;
        margin-left:40px;
        display:block;
        height:30px;
        &:hover { text-decoration: underline; }
      }
      &:hover {
        ul.sub-menu {
          display:block;
        }
      }
      // The sub menu
      ul.sub-menu {
        padding:0;
        margin:0;
        width:150px;
        position:absolute;
        display:none;
        z-index:50;
      
        li {
          float:left;
          background-color:#0A304E;
          width:180px;
          text-align:left;
          border-bottom:1px solid #0A385C;
          &:hover {
            background-color:#315F80;
            a { 
              text-decoration:none; 
            }
          }
          a {
            display:block;
            color: #f2f2f2;
            margin:0;
            padding:11px 12px 0px 16px;
          }
        }
      }
    }
  }
}


#logo {
  width:300px;
  height:360px;
  padding-left:20px;
  float:left;
  overflow:visible;
  text-align:center;

  h1 {
    border-bottom:1px dashed #CCC;
    border-top:1px dashed #CCC;
    padding:4px auto;
    margin-bottom:6px;
  }

  img.logo {
    margin:auto;
    position:relative;
    margin-bottom:5px;
    top:12px;
    z-index:3;
  }

  ul { /* The three links next to the big image */
    list-style:none;
    margin:0;

    li {
      text-align:right;
      padding-top:6px;
    }
  }
}

.top-bar, .top-bar-small {
  padding-top:20px;

  #right {
    margin-left:379px;
    width:589px;
    height:279px;
    text-align:center;
  }
}
.top-bar {
  height:280px;
  padding-bottom:30px;
}
.top-bar-small {
  height:100px;

  h1 {
    margin:0;
    text-align:left;
    border-bottom:1px dashed #CCC;
  }

  div.breadcrumbs {
    text-align:left;

    span.divider { 
      font-size:2.2em; 
      margin:0 7px;
    }
    ul {
      list-style:none;
      padding:0;

      li {
        float:left;
      }
    }
  }
}
#container.content {
  margin-bottom:24px;
}
#container.subpage { // Every page except the homepage.
  p {
    font-size:1.8em;
  }
  * { // h2 a, etc.
    a {
      font-size:inherit;
    }
  }
  min-height:400px;
}
#footer {
  background-color: #0A304E;
  height:150px;
  box-shadow: inset 0 9px 11px rgba(0,0,0,.25);

  a {
    color:#F2F2F2;
  }
}
