%footer#footer
  - if controller.controller_name == "welcome"
    :javascript
      $(window).load(function() {
        $('#slider').nivoSlider();
      });
  #container
    =link_to "Log In", users_login_url
