!!! 5
%html{:lang => "en"}
  = render :partial=> "layouts/header"
  %body
    %header#header-small
      #container
        #logo
          %a{:href=>welcome_index_url}
            =image_tag "logo.png", :class=>"logo"
        #navigation
          %ul
            %li
              %a{:href => "#"} Resources
            %li
              %a{:href => "#"} About USG
    #container.top-bar-small
      #right
        %h1
          Undergraduate Student Government
        %div.breadcrumbs
          %ul
            %li 
              %a{:href=>"#"} Home
              %span.divider →
            %li
              %a{:href=>"#"} Committees
              %span.divider →
            %li
              %a{:href=>"#"} Information Technology
    #container.content.subpage
      =yield
    = render :partial=>"layouts/footer"
