!!! 5
%html{:lang => "en"}
  = render :partial=>"layouts/header", :locals => {:is_home_page => true}
  %body
    %header#header
      #container
        #logo
          =image_tag "logo.png", :class=>"logo"
          %h1 Undergraduate Student Government
          %ul
            %li 
              %a{:href=>"#"} Feedback Form →
            %li 
              %a{:href=>"#"} Submit a Disbursement →
            %li
              %a{:href=>"#"} Search → 
        #navigation
          = render :partial => "layouts/toplinks"
    #container.top-bar
      #right
        .slider-wrapper
          #slider.nivo-slider
            - @slider_images.each do |slider_image|
              =image_tag slider_image.image.url(:full)
    #container.content
      =yield
    = render :partial => "layouts/footer"
