!!! 5
%html{:lang => "en"}
  = render :partial=>"layouts/header"
  %body
    %header#header
      #container
        #logo
          =image_tag "logo.png", :class=>"logo"
          %h1 Undergraduate Student Government
          %ul
            %li 
              %a{:href=>"#"} Feedback Form →
            %li 
              %a{:href=>"#"} Submit a Disbursement →
            %li
              %a{:href=>"#"} Search → 
        #navigation
          %ul
            %li
              %a{:href => "#"} Resources
            %li
              %a{:href => "#"} About USG
    #container.top-bar
      #right
        .slider-wrapper
          .ribbon
          #slider.nivoSlider
            =image_tag "top_right.png", :class=>"logo", :title => "this is a caption"
    #container.content
      =yield
    = render :partial => "layouts/footer"
