!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Undergraduate Student Government - USG
    %link{:href=>'http://fonts.googleapis.com/css?family=Habibi',:rel=>'stylesheet',:type=>'text/css'}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    :javascript
      $(function(){
        $("body").noisy({
          opacity: 0.07
        });
      }
      
  %body
    %header#header
      #container
        #logo
          =image_tag "logo.png", :class=>"logo"
          %h1 Undergraduate Student Government
          %ul
            %li 
              %a{:href=>"#"} Feedback Form →
            %li 
              %a{:href=>"#"} Submit a Disbursement →
            %li
              %a{:href=>"#"} Search → 
        #navigation
          %ul
            %li
              %a{:href => "#"} Resources
            %li
              %a{:href => "#"} About USG
    #container.top-bar
      #right
        =image_tag "top_right.png", :class=>"logo"
    #container.content
      =yield
    %footer#footer
      #container
        Some rando footer text.
